%html
  %head
    %title 
      = page_title
    %link{:rel => 'icon', :type => 'image/png', :href => '/images/x_1.png', :sizes => '48x48'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/main.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/bootstrap.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/bootstrap-responsive.css'}
    %script{:type => 'text/javascript', :src => '/javascripts/mootools.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
  %body
    .title 
      %a{:rel => "me", :href => "https://github.com/#{@user.login}"}
        == #{@user.login}'s
      Calendar
    .subtitle Tracking Code Katas on GitHub
    #main
      #stats
        .current_streak
          Current Streak:
          = @user.current_streak
          %span.desc 
        .longest_streak
          %a{:href => @user.longest_streak_url}
            Longest Streak:
            = @user.longest_streak
            %span.desc 
    #calendar
      = seinfeld
    #main
      #zone
        Time left today:
        == #{@user.time_left}
        |
        == "#{@user.location}"
        %a{:rel => "me", :href => "http://github.com/#{@user.login}"}
          (from profile page)
        |
        == "#{@user.time_zone}" 
      #content.footnote 
        %a{:href => "http://katacha.in"} KataCha.in
        by <a href="https://github.com/rossfuhrman">ross</a>
      #content.footnote 
        inspired by the work of <a href="http://techno-weenie.net">rick</a> and <a href="http://warpspire.com/">kyle</a> / <a href="https://github.com">GitHub</a>
        on the 
        %a{:href => "http://calendaraboutnothing.com"} Calendar About Nothing
      #content.footnote
        Geographical information provided by 
        %a{:href => 'http://www.geonames.org'} GeoNames

